appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
asn1crypto==1.4.0
async-generator==1.10
attrs==20.3.0
auditok==0.1.8
babelfish==0.5.5
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
Brotli==1.0.9
btrfsutil==5.10.1
CacheControl==0.12.6
cchardet==2.1.7
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
contextlib2==0.6.0.post1
cryptography==3.3.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
dogpile.cache==1.1.1
entrypoints==0.3
enzyme==0.4.1
ffmpeg-python==0.2.0
ffsubsync==0.4.9
Flask==1.1.2
future==0.18.2
guessit==3.2.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
html5lib==1.1
hyperframe==6.0.0
idna==2.10
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kaitaistruct==0.9
ldap3==2.9.dev0
lensfun==0.3.95
lit==0.10.1.dev0
louis==3.16.0
lxml==4.6.2
MarkupSafe==1.1.1
mistune==0.8.4
mitmproxy==6.0.2
msgpack==1.0.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netsnmp-python==1.0a1
notebook==6.1.5
numpy==1.19.4
ordered-set==4.0.2
packaging==20.9
pandocfilters==1.4.3
parso==0.7.1
passlib==1.7.4
pbr==5.5.1
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
powerline-status==2.8.1
progress==1.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.12.4
ptyprocess==0.6.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.20
Pygments==2.7.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.7.0
pyrsistent==0.17.3
pysrt==1.1.2
pysubs2==1.0.0
python-dateutil==2.8.1
python-libtorrent==1.2.11
pytz==2020.5
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
rarfile==4.0
rebulk==3.0.1
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rich==9.6.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
Send2Trash==1.5.0
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.1
srt==3.4.1
stevedore==3.3.0
subliminal==2.1.0
team==1.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.1
tqdm==4.55.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.3
urwid==2.1.1
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wsproto==1.0.0
youtube-dl==2021.2.10
zstandard==0.15.1
